@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COGERTI</h1>
    <p class="lead">Controle e Gestão de Recursos de Tecnologia da Informação</p>
    <p><a href="" class="btn btn-primary btn-lg">Energy & Solutions</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Associação</h2>
        <p>
            Alocar um Recurso a um Funcionário.
            Ver lista de Alocações.
            Liberar um Recurso.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "AssociacaoRecursos")">Associação de Recursos</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lotes</h2>
        <p>
            Cadastrar novo Lote de Equipamentos.
            Ver lista de Lotes.
            Excluir Lote.
        </p>
        <p><a class="btn btn-default" href="http://s055rjo02/ferti/Line">Lote de Equipamentos</a></p>
    </div>
    <div class="col-md-4">
        <h2>InforMail</h2>
        <p>
            Enviar Email
        </p>
        <p><a class="btn btn-default" href="http://s055rjo02/ferti/InforMail">Enviar Email</a></p>
    </div>
</div>